/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
}

.commonForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.formButton, .formInput{
    height: 35px;
    padding-left: 10px;
    width: 300px;
    font-size: 14px;
    border: 1px solid blueviolet;
    color: blueviolet;
    outline: none;
    cursor: pointer;
}
